.team-wrapper :global{
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  margin-top: 70px;
  min-height: 192px;

  .steps-wrapper{
    margin: 0 20px;
  }

  .team-name{
    font-weight: bold;
    margin-right: 10px;
    min-width: 165px;
    text-align: center;
  }
}