.step-wrapper :global{
  padding: 5px 0;
  .step{
    border: 1px solid;
    width: 140px;
    height: 140px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  .divider{
    background: black;
    position: absolute;
    top: 142px;
    margin: 0;
    height: 3px;
    min-width: unset;
    width: 76px;
  }

}