
.empty-state :global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 115px;
  box-sizing: border-box;

  .image {
    width: 168px;
    height: 77px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .title {
    font-size: 24px;
    line-height: 32px;

    margin-bottom: 7px;
  }

  .description {
    font-size: 16px;
    line-height: 21px;
  }
}
