.App :global {

  .step-attack{
    width: 140px;
    border: 1px solid;
    height: 140px;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .green{
    background: #d5e8d4;
    border: 1px solid #a7ca96!important;
  }
  .blue{
    background: #dae8fc;
    border: 1px solid #96afd3!important;
  }



  .App-header {
    padding: 20px;
    background-color: #315db1;
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: calc(10px + 2vmin);
    color: white;
    .header-details{
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      //background: #224a46;
    }
  }

  .App-link {
    color: #09d3ac;
  }

  .add-new-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    margin-left: 30px;
  }
  .ant-input-search.ant-input-affix-wrapper {
    //display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .ant-input {
      width: 100% !important;
      font-size: 16px;
    }
    .ant-input-suffix i {
      color: #96a2aa;
      display: flex;
      right: 4px;
      top: -5px;
      position: absolute;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }


  @media screen and (max-width: 600px) {
    .App-header {
      font-size: 14px;
      .header-details{
        flex-direction: column;
      }
      .search-item-wrapper{
        margin-top: 10px;
      }
    }
  }
}
